[submodule "themes/terminalcv"]
	path = themes/terminalcv
	url = https://github.com/coolapso/hugo-theme-terminalcv
[submodule "themes/re-terminal"]
	path = themes/re-terminal
	url = https://github.com/mirus-ua/hugo-theme-re-terminal.git
